body{
	background-image: url("../images/keys.jpg");
}
div#area{
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  right: 15%;
  height: 70%;
	background-color: gray; 
	border:  1px solid black;
	opacity: 0.7;
}

div.keypop {
  position:absolute;
  width:50px;
  height:50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 7px;
  background-color:#2F2F2F;
  display: block;
}

p#key {
  text-align: center;
  margin: 10%;	
  font-size: 200%;
  color: white;
}

.Popup {
  border: 3px solid black; 
  background-color: white;
  color: black;
  top: 35%;
  text-align: center;
  font-size: 180%;
  left: 25%;
  width: 50%;
  height:30%;
  margin: auto;
  padding:2%; opacity: 0.7; 
  position: absolute;
  display: none;
}
 
.close {
  position: absolute;
  background-color:black;
  color: white;
  font-size: 120%;
  top: 0px;
  right: 0px;
  border:0px;
  cursor:pointer;
}

#result {
  content: "";
}
#retryButton {
  display:block;
  position: absolute;
  background-color:black;
  color: white;
  margin-left:30%;
  margin-top: 1%;
  margin-bottom:5%;
  margin-right:30%;
  width:40%;
  font-size:100%;
  border-radius: 10px;
  border:1px;cursor: pointer;
}

#inputtext{
  position: absolute;
  bottom: 5%;
  padding: 3%;
  opacity: 0.8;
  border: 2px solid white;
  background-color: gray;
  border-radius: 10px;
  left: 25%;
  right: 25%;
  width: 44%;
  height: 0.9%;
  font-size: 200%;
  outline: none;
}
@media only screen and (max-width: 707px) {
    .Popup {
      font-size: 170%;

    }
}

#count {
	position: absolute;
	content: "";
  text-align: center;
  top: 40%;
  left: 20%;
  width: 60%;
  font-size: 600%;
  color: red;
}

@media screen and (max-width: 650px) {
    .Popup {
      font-size: 160%;
      width: 70%;
      left: 10%;
      right: 10%;
    }

    #retryButton {
      font-size: 80%;
      margin-left:25%;
      margin-top:2%;
      margin-bottom:2%;
      margin-right:25%;
      width:50%;
    }
    .close {
      font-size: 100%;

    }

    #count {
      font-size: 400%;
      left: 10%;
      width: 80%;  
    }
    #inputtext {
      font-size: 150%;
      height: 3%;

    }


}




#inputtext::active{
  position: absolute;
  bottom: 5%;
  padding: 5%;
  opacity: 0.8;
  border: 2px solid white;
  background-color: gray;
  border-radius: 10px;
  left: 25%;
  width: 50%;
  height: 50px;
  font-size: 200%;
}

span#timer{
  position: absolute;
  right: 10px;
  font-size: 250%;
  color: white;
}