body {
	background-color: black;
	color: white;
}

div#area{
  position: absolute;
  margin: -200px 0 0 -200px;
  top: 40%;
  left: 30%;
  width: 70%;
  height: 70%;
	background-color: gray; 
}

div.keypop {
  position:absolute;
  width:30px;
  height:30px;
  background-color:red;
  display: block;
}

textarea{
  position: absolute;
	bottom: 5%;
	border: 2px solid white;
	background-color: gray;
	border-radius: 5px;
}

span#text{
	position: absolute;
	left: 20px;
}


button#start{
	position: absolute;
	bottom:10%;
	background-color: red;
	border: 0px;
}

button#submit{
	position: absolute;
	bottom: 5%;
	left: 170px;
	background-color: red;
	border: 0px;
}
